iframe{
	max-width: 520px !important;
}
.mapacontainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
	flex-wrap: wrap;
}
.header {
    width: 100%;
    background: white;
    height: 30px;
    position: relative;
    top: 30px;
    max-width: 530px;
}
.footer {
    width: 100%;
    background: white;
    height: 50px;
    position: relative;
    top: -50px;
    max-width: 530px;
}
.mapa {
	max-width: 530px;
    width: 100%;}
@media screen and (max-width:600px) {
.mapacontainer{
	height: auto;
}
.header, .footer{
	width: 102%;
}
}